<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a bean named "myService" of type MyService -->
    <bean id="myService" class="training.entities.MyService" >
        <!-- Inject dependency -->
        <property  name="dataService" ref="dataService"  />
    </bean>

    <!-- Define a bean named "dataService" of type DataService -->
    <bean id="dataService" class="training.entities.DataService"/>

</beans>
